.header {
  /* display: flex; */
  flex: 1 1 auto;
  align-items: center;

  position: fixed;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 44px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 10px;
}
