<mat-card class="containerDashboard">
  
  <mat-card-title class="title"> Visal Geral </mat-card-title>

  <mat-card class="home debts mat-elevation-z6">
    <mat-card-title class="title"> Seus Débitos </mat-card-title>
    <mat-card-subtitle class="subtitle">
      Acompanhe sua carteira de gastos
    </mat-card-subtitle>

    <mat-card-content class="cardContent">
      <app-debt-read2></app-debt-read2>
    </mat-card-content>

  </mat-card>

  <mat-card class="home credits mat-elevation-z6">
    <mat-card-title class="title"> Seus Créditos </mat-card-title>
    <mat-card-subtitle class="subtitle">
      Acompanhe sua carteira de ganhos
    </mat-card-subtitle>

    <mat-card-content class="cardContent">
      <app-debt-read2></app-debt-read2>
    </mat-card-content>

  </mat-card>

</mat-card>
